body,
html {
  padding: 0;
  margin: 0;
  background-color: #3a4750;
  color: #303841;
  height: 100vh;

  font: normal normal 400 27px/32px "Public Sans", sans-serif;
}

.main-content {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.divider-layer {
  display: none;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #303841;
  opacity: 80%;
}

.divider-layer_show {
  display: block;
}

/* Header */

header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 50px 20px;
}

.header__title {
  font: normal normal 800 300%/100% "Fira Sans", sans-serif;
  margin: 0;
}

.header__show-tasks {
  display: flex;
  align-items: center;
}

.header__label {
  font: normal normal 600 180%/100% "Kufam", sans-serif;
  margin-right: 15px;
}

.header__show-form {
  font: normal normal 600 150%/100% "Kufam", sans-serif;
  height: 70px;
  width: 370px;
  padding: 15px 10px;
  border-radius: 25px;
  transition: width 0.2s, font 0.1s;
}

.header__show-form:hover {  
  width: 400px;
  font: 165%/100% "Kufam", sans-serif;
  cursor: pointer;
}

.header__checkbox {
  height: 45px;
  width: 45px;
  cursor: pointer;
}

/* Form */

.add-task-form {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  margin-bottom: 30%;
  z-index: 3;
  background-color: white;
  flex-direction: column;
  width: 500px;
  height: 500px;
  padding: 15px;
  border-radius: 25px;
  border: 5px solid #be3144;
  display: none;
}

.add-task-form__hide-form {
  right: 15px;
  top: 7px;
  margin: auto;
  position: absolute;
  width: 40px;
  transition: width 0.2s, top 0.2s, right 0.2s;
}

.add-task-form__hide-form:hover {
  cursor: pointer;
  width: 47px;
  top: 2px;
  right: 10px;
}

.add-task-form_show {
  display: flex;
}

.add-task-form > input,
.add-task-form > textarea {
  margin-bottom: 15px;
  font: normal normal 400 27px/32px "Public Sans", sans-serif;
}

.add-task-form > label {
  font: normal normal 600 150%/100% "Kufam", sans-serif;
}

.add-task-form > input {
  border-radius: 10px;
}

.add-task-form__description-field {
  min-height: 200px;
  border-radius: 10px;
  padding: 4px;
}

.add-task-form__button {
  font: normal normal 600 150%/110% "Kufam", sans-serif;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

/* Task */

.task {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  width: 600px;
  background-color: white;
  border-radius: 25px;
  padding: 20px 0;
  position: relative;
}

.task_done {
  display: none;
}

.task__date,
.task__status,
.task__description {
  padding: 0 30px;
}

.task__date {
  margin: 0;
}

.task__date_overdue {
  color: #be3144;
}

.task__name {
  font: normal normal 600 150%/100% "Kufam", sans-serif;
}

.task__status {
  display: flex;
  align-items: center;
  gap: 10px;

  padding-top: 10px;
  padding-right: 20px;
  width: 100%;
  box-sizing: border-box;
}

.task__checkbox {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.task_done > .task__status > .task__name {
  color: #9ea3a9;
  text-decoration: line-through;
}

.task_done > .task__date {
  color: #303841;
}

.task__delete {
  position: absolute;
  top: 0px;
  left: 550px;
  width: 50px;
  height: 50px;
  transition: width 0.2s, height 0.2s, top 0.2s;
}

.task__delete:hover {
  cursor: pointer;
  top: -5px;
  width: 55px;
  height: 55px;
}

.task__description {
  margin: 0;
  max-height: 50px;
  overflow: hidden;
  color: #565a60;
  transition: max-height 1s ease-in-out;
}

.task__description:hover {
  max-height: 300px;
}

/* List */

.list {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: #d3d6db;
  border-radius: 25px;
  padding: 10px;
}

.list_show-done > .task_done {
  display: block;
}

.list__name {
  font: normal normal 800 200%/200% "Fira Sans", sans-serif;

  color: #303841;
  margin: 0;
}
