body,
html {
  padding: 0;
  margin: 0;
  background-color: #3a4750;
  color: #303841;
  height: 100vh;

  font: normal normal 400 27px/32px "Public Sans", sans-serif;
}

body {
  padding: 20px;

  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.list {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: #d3d6db;
  border-radius: 25px;
  padding: 10px;
}

.list__name {
  font: normal normal 800 200%/200% "Fira Sans", sans-serif;

  color: #303841;
  margin: 0;
}

.task {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  width: 900px;
  background-color: white;
  border-radius: 25px;
  padding: 20px 0;
}

.task__date,
.task__status,
.task__description {
  padding: 0 30px;
}

.task__date {      
  margin: 0;  
}

.task__date_overdue {
  color: #be3144;
}

.task__name {
  font: normal normal 600 150%/100% "Kufam", sans-serif;
}

.task__status {
  display: flex;
  align-items: baseline;
  gap: 10px;

  padding-top: 10px;
  width: 100%;
  box-sizing: border-box;  
  /* border-top: 8px solid  #9ea3a9; */
}

.task__status_done > .task__name {
  color: #9ea3a9;
  text-decoration: line-through;
}

.task__description {
  margin: 0;
  max-height: 50px;
  overflow: hidden;
  color: #565a60;
  transition: max-height 1s ease-in-out;
}

.task__description:hover {
  max-height: 300px;
}

/* Checkbox */

.task__checkbox {
  width: 24px;
  height: 24px;
}